body {
	font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	background: #E6EAE9;
}

#container
{
	margin: 0 auto;
	padding-top: 30px;
	width: 1000px;
	background: #ccc;
}

#header
{
	background: #ccc;
	padding: 20px;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 1000px;
	background: #046380;
}

#section-navigation
{
	float: left;
	width: 270px;
	height: 100px;
	padding: 20px 0;
	display: inline;
	background: #ccc;
}

#content
{
	float: left;
	width: 600px;
	padding: 20px 0;
	padding-left: 20px;
	margin: 0 0 0 30px;
	background: #fff;
}

#footer
{
	clear: left;
	background: #5D6362;
	text-align: right;
	padding: 20px;
	height: 1%;
	color: #fff;
}

#mytable {
	padding: 0;
	margin: 0;
	font: normal 19px
}

#tdF {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}
